<template>
  <div class="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">
          <h1>
            {{ title }}
          </h1>

          <div class="message" v-if="message">
            <p>
              {{ message }}
            </p>
          </div>

          <!-- New note -->

          <div class="new-note">
            <input type="text" v-model="note.title" />
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              v-model="note.descr"
            ></textarea>
            <button @click="addNote">New note</button>
          </div>

          <!-- Note list -->
          <div class="notes">
            <div class="note" v-for="(note, index) in notes" :key="index">
              <div class="note-header">
                <p>
                  {{ note.title }}
                </p>
              </div>

              <div class="note-body">
                <p>
                  {{ note.descr }}
                </p>

                <span>
                  {{ note.date }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "notes App",
      message: null,
      note: {
        title: "",
        descr: "",
      },
      notes: [
        {
          title: "First Note",
          description: "Description for first note",
          date: new Date(Date.now()).toLocaleString(),
        },
        {
          title: "Second Note",
          description: "Description for second note",
          date: new Date(Date.now()).toLocaleString(),
        },
        {
          title: "Third Note",
          description: "Description for third note",
          date: new Date(Date.now()).toLocaleString(),
        },
      ],
    };
  },

  methods: {
    addNote() {
      let { title, descr } = this.note;

      if (title === "") {
        this.message = "title cant be blank";
        return false;
      }
      this.notes.push({
        title,
        descr,
        date: new Date(Date.now()).toLocaleString(),
      });

      this.note.title = "";
      this.note.descr = "";

      this.message = null;
    },
  },
};
</script>

